<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" media="screen">
</head>
<body>
    <%-include('./partials/header') %>
    <%-include('./partials/menu_desplegable') %>
    <main>
       <form action="" method="post">   
            <label> </label>
            <input type="text" name="" id="">
       
            <label for=""> Nombre del indicador </label>
            <input type="text" name="" id="">

            <label for=""> Frecuencia de carga </label>
            <select name="" id="">
                <option value="">Semanal</option>
                <option value="">Quincenal</option>
                <option value="">Mensual</option>
                <option value="">Trimestral</option>
            </select>

            <label for=""> Responsable </label>
            <select name="" id=""> 
                <% for(let i=0 ; i < input.responsable;i++){ %>
                    <option value=""> <%=input.responsable[i].nombre %> </option>
                <% } %>
            </select>

            <label for=""> Responsable suplente </label>
            <select name="" id=""> 
                <% for(let i=0 ; i < input.responsable;i++){ %>
                    <option value=""> <%=input.responsable[i].nombre %> </option>
                <% } %>
            </select>
            
            <label for=""> Logs de carga </label>
            <input type="text" name="" id="">

            <label for=""> Fecha de carga </label>
            <input type="date" name="" id="">

            <label for=""> Hora de carga </label>
            <input type="time" name="" id="">

            <label for=""> Dato ingresado </label>
            <input type="text" name="" id="">

            <label for=""> Aviso de recordatorio </label> <!-- Esto no es repetido con el Frecuencia de carga -->
            <select name="" id="">
                <option value="">Semanal</option>
                <option value="">Quincenal</option>
                <option value="">Mensual</option>
                <option value="">Trimestral</option>
            </select>    
        </form>
    </main>
</body>
</html>